//
// App page content
// -------------------------------------------

.app-page {
  padding: @line-height-computed 0;
}

//== Page blocks
//
//## Grid row based content blocks
.app-page-header {
  .row();
}
.app-page-title,
.app-page-leadimage {
  .make-sm-column(6);
}

.app-page-header-content {
  .make-sm-column(12);
}

.app-page-title p,
.app-page-header-content p {
  margin-bottom: @line-height-computed;
  font-size: 1.125rem;
  font-family: @font-family-primary;
  font-weight: 400;
  line-height: 1.25;
  @media (min-width: @screen-sm-min) {
    font-size: 1.5rem;
  }
}

.app-page-abstract {
  margin-bottom: @line-height-computed;
  font-size: floor((@font-size-base * 1.25));
  font-weight: 300;
  line-height: 1.4;
  @media (min-width: @screen-sm-min) {
    font-size: (@font-size-base * 1.75);
  }
}

.app-page-body {
  @media (min-width: @screen-md-min) {
    margin: @navbar-height ceil((@line-height-computed * 4)) @line-height-computed;
  }
}

.app-page-header + .app-page-body {
  padding-top: @navbar-height;
  border-top: 1px solid @gray-light;
}

.app-page-body-section {
    margin-bottom: ceil((@line-height-computed * 2));
    > h2 {
      margin-bottom: @line-height-computed;
    }
    h2 + p {
      margin-bottom: ceil((@line-height-computed * 1.5));
      font-family: @font-family-primary;
      font-weight: 400;
      font-size: 1.125rem;
    }
}
