---
layout: default
title: Werdender Vater
slug: father
lead: "Werdender Vater"
base_url: "../../"
---
<main class="app-page" id="content">
  <div class="app-page-header">
    <div class="app-page-title col-md-push-6">
      {% capture copy_father_01 %}{% include copy/father-to-be/father-01.md %}{% endcapture %}
      {{ copy_father_01 | markdownify }}
    </div>
    <div class="app-page-leadimage col-md-pull-6">
      <img class="app-img b-lazy"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          data-src="{{ page.base_url }}dist/assets/img/father.jpg"
          alt="Doula Alisa Foth" />
    </div>
  </div>
  <div class="app-page-body">
    <div class="app-page-body-section">
      {% capture copy_father_02 %}{% include copy/father-to-be/father-02.md %}{% endcapture %}
      {{ copy_father_02 | markdownify }}
    </div>
  </div>
</main>