<div class="app-brandbar" id="app-brandbar">
    <div class="app-brandbar-content">
        <div class="app-brand">
          <div class="col-sm-2">
            <a class="app-brand-logo-image" href="/">
              <img class="app-img b-lazy"
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-src="{{ page.base_url }}dist/assets/img/logo.jpg"
                alt="Logo Doula Alisa Foth" />
            </a>
          </div>
          <div class="col-sm-6">
            <div class="app-brandname">
              Alisa Foth
            </div>
            <div class="app-brandname-claim">
              Doula in Erding
            </div>
          </div>
          <div class="col-sm-4">
            <ul class="nav nav-pills app-brandbar-actions">
              <li{% if page.slug == "contact" %} class="active"{% endif %}>
                <a href="{{ page.base_url }}contact/index.html">Kontakt</a>
              </li>
              <li{% if page.slug == "links" %} class="active"{% endif %}>
                <a href="{{ page.base_url }}links/index.html">Links</a>
              </li>
            </ul>
          </div>
        </div>
    </div>
</div>
