<div class="app-brandbar" id="app-brandbar">
    <div class="app-brandbar-content">
        <div class="app-brand">
          <div class="col-sm-2">
            <div class="app-brand-logo-image">
              <img class="app-img b-lazy"
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-src="{{ page.base_url }}dist/assets/img/logo.jpg"
                alt="Logo Doula Alisa Foth" />
            </div>
          </div>
          <div class="col-sm-6">
            <div class="app-brandname">
              Alisa Foth
            </div>
            <div class="app-brandname-claim">
              Doula in Erding
            </div>
          </div>
        </div>
    </div>
</div>