<!doctype html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {% include head.html %}
  </head>
  <body>
    <a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>
    <!-- App master nav -->
    {% include navbar.html %}

    <div class="app-header">
      <div class="app-header-content">
        <div class="app-brand">
          <div class="app-brand-logo">
            <img class="img-circle" data-src="holder.js/250x250/#000:#fff/text:portrait image" alt="Portait image">
          </div>
          <div class="app-brand-info">
            <div class="app-brand-title">
              <h1>{{ page.title }}</h1>
              <h2>{{ page.lead }}</h2>
            </div>
            <div class="app-brand-about">
              {% markdown hero-about.md %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
        <div role="main">
          {{ content }}
        </div>
    </div>

    {% include footer.html %}
    {% include javascript.html %}
    <div class="app-js-slot">
        {% include webfonts.html %}
    </div>

  </body>
</html>