<!doctype html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {% include head.html %}
  </head>
  <body>
    <a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>
    {% include brandbar.html %}
    {% include navbar.html %}

    <div class="app-header">
      <div class="app-header-content">
        <div class="app-brand">
          <div class="app-brand-info app-brand-info-hero col-md-push-6">
            <div class="app-brand-title">
              <h1>{{ page.title }}</h1>
              <h2>Professionelle Geburts<span class="visible-xs-inline">-<br></span>begleitung</h2>
            </div>
            <div class="app-brand-about">
              Begleitung während Schwangerschaft, Geburt und Wochenbett
            </div>
          </div>
          <div class="app-brand-logo app-brand-logo-hero col-md-pull-6">
            <img class="app-img b-lazy"
              src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
              data-src="{{ page.base_url }}dist/assets/img/frontpage.jpg"
              alt="Logo Doula Alisa Foth">
          </div>
        </div>
      </div>
    </div>

    <div class="app-content" role="main">
          {{ content }}
    </div>

    {% include footer.html %}
    {% include webfonts.html %}
    {% include javascript.html %}
    {% include ga.html %}
  </body>
</html>